


  header{
    background-color: #0c90e7; /* Adjust as needed */
    color: #fff;
    font-size: larger;
    border-top: 2px solid #54b2f1; /* Adjust as needed */
    width: 100%;
    height: 60px;
    text-align: center;
    padding-left: 10px;
    
  
  }
  .logo {
    width: 10px;
    height: 40px;
    border-radius: 50%;
  }
  
  .app-name {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    color: #ccc !important;
  }
  img{
   
    width: 800px;
    height: 100px;
  }
  body{
    margin-left: 300px;
    margin-top: 10px;
  }
  .image{
    width: 20px;
    height: 20px;
  }
  .image-icon{
    width: 30px;
    height: 30px;
  }
  .container mt-4{
    margin-left: 300px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    color: #044875;
  }
  .icon-container {
    display: flex;
    row-gap: 200px;
    /* Center items vertically if needed */
}
.circle{
  margin-right: 20px;
  padding-left: 200px;
}


li{
  color: #044875;
}
.tabs{
  color: rgb(2, 35, 248);
}