
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

  <div class="container">
    <div class="home">
      <p>Let’s move the world forward. Lyric and melody. Cinema and fashion.<br>
         Entrepreneurship and character. Cows and grass. Each flourish from a positive, reciprocal flow. <br>
         Just like Remiges. Between man and machine. Code and culture. Client and company. <br>
         A contract of reciprocative growth. A commitment to enhance what enhances us. Who are we?<br>
        Collaborative digital transformation agents for your business and enterprise.<br>
         A symbiosis of man and machine leads to a reciprocal growth of clients and us.Cows and grass.<br>
          Each flourish from a positive, reciprocal flow. Just like Remiges. Between man and machine.<br>
           Code and culture. Client and company. A contract of reciprocative growth.<br>
            A commitment to enhance what enhances us. Who are we?<br>
        Collaborative digital transformation agents for your business and enterprise.</p>
        
    </div>
    <img src="/assets/images (6).png" alt="img">
  </div>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
